 /* Styles pour l'overlay (modale) qui va apparaître au-dessus des autres éléments */
 #videoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    display: none; /* Caché au début */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Place l'overlay au-dessus de tout le contenu */
}

/* Styles pour l'élément vidéo dans l'overlay */
#preview {
    max-width: 80%; /* Limite la taille de la vidéo */
    max-height: 80%;
    border: 1px solid white;
}

/* Style pour le bouton de fermeture */
#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}



/* Styles pour le contenu du QR Code trouvé */
#qrCodeContent {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

/* CSS */

/* Conteneur principal */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacement entre les icônes */
    padding: 10px;
    flex-wrap: wrap; /* Permet d'ajuster les icônes sur plusieurs lignes si l'espace est limité */
  }
  
  /* Icônes */
  .icon-container i {
    font-size: 5rem; /* Taille par défaut des icônes */
    color: #007BFF; /* Couleur des icônes */
    cursor: pointer; /* Apparence de la main au survol */
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  /* Animation au survol */
  .icon-container i:hover {
   
    color: #ff5722; /* Changer la couleur */
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .icon-container i {
      font-size: 1.5rem; /* Réduire la taille des icônes sur les petits écrans */
    }
  
    .icon-container {
      gap: 10px; /* Réduire l'espacement entre les icônes */
    }
  }
  
  @media (max-width: 480px) {
    .icon-container i {
      font-size: 1.2rem; /* Taille encore plus petite pour les très petits écrans */
    }
  
    .icon-container {
      gap: 8px; /* Réduire davantage l'espacement */
    }
  }
  