/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #eaf6ff; /* Fond bleu clair */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

/* Contenu des cartes */
.class-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    max-width: 400px;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%; /* S'étend horizontalement */
    margin: 20px auto;
}

.class-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.class-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.class-info {
    padding: 20px;
    text-align: left;
}

.class-info h2 {
    color: white;
    background-color: #007BFF;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.class-info p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
}

.class-info strong {
    color: #007BFF; /* Bleu ciel */
}

.class-info p:nth-child(odd) {
    background-color: #f0f8ff; /* Fond bleu très clair */
    padding: 10px;
    border-radius: 5px;
}

/* Adaptabilité */
@media (max-width: 768px) {

    .class-card {
        max-width: 60%;
    }
}
