body {
    font-family: Arial, sans-serif;
    background-color: #eaf6ff; /* Fond bleu clair */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

.registration-form
{
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #007BFF; /* Bleu ciel */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 1em;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #007BFF; /* Bord bleu ciel */
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.2s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #0056b3; /* Couleur plus foncée au focus */
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Bleu ciel */
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3; /* Couleur plus foncée au hover */
}


.error input {
    color: red;
    border: 1px solid rgb(255, 0, 0);
  }
  .error span {
    visibility: visible;
    opacity: 1;
    color: red;
  }
  .progressRed {
    background: red;
    width: 33%;
    visibility: visible;
  }
  .progressBlue {
    background: #16d9e7;
    width: 67%;
    visibility: visible;
  }
  .progressGreen {
    width: 100%;
    background: #5ef9a4;
    visibility: visible;
  }


  input[type="password"] span, input[type="email"] span{
    margin-bottom: 20px;
    display: block;
    font-size: 0.8rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    color: red;
  }

  p {
    background: red;
    width: 33%;
    height: 6px;
    margin: -2px 0 2px;
    border-radius: 50px;
    visibility: hidden;
    transition: 0.3s;
  }



