body {
    font-family: Arial, sans-serif;
    background-color: #eaf6ff; /* Fond bleu clair */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Police de caractères */
}

.form-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 100%;
    max-width: 500px; /* Augmentez la largeur pour plus de champs */
}

h1 {
    text-align: center;
    color: #007BFF; /* Bleu ciel */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 1em;
    color: #333;
}

.label
{
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #007BFF; /* Bord bleu ciel */
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #0056b3; /* Couleur plus foncée au focus */
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Bleu ciel */
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3; /* Couleur plus foncée au hover */
}

label[for="equipement"]
{
    font-style: italic;
}



/*CSS POUR LE BOUTON D'ACCEUIL-------------------------*/
  /* Conteneur pour le bouton */
  .home-button-container {
    position: absolute; /* Le bouton est placé de façon absolue en haut à droite */
    top: 20px;
    right: 20px;
    z-index: 1000; /* Assure que le bouton soit toujours visible au-dessus des autres éléments */
  }
  
  /* Style du bouton */
  .home-button {
    background-color: #0056b3; /* Couleur de fond verte */
    color: white; /* Texte en blanc */
    padding: 10px 20px; /* Espace intérieur */
    text-decoration: none; /* Retire la décoration par défaut des liens */
    border-radius: 25px; /* Bordures arrondies pour un look moderne */
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animation au survol */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
  }
  
  /* Style au survol */
  .home-button:hover {
    background-color: #0056b3; /* Couleur légèrement plus foncée au survol */
    transform: scale(1.05); /* Légère agrandissement pour un effet visuel */
  }
  
  /* Responsive Design: le bouton s'adapte aux écrans plus petits */
  @media (max-width: 768px) {
    .home-button-container {
      top: 10px; /* Ajustement de la position pour petits écrans */
      right: 10px;
    }
  
    .home-button {
      font-size: 14px; /* Taille de texte réduite sur mobile */
      padding: 8px 15px; /* Espacement intérieur réduit pour s'adapter à l'écran */
    }
  }
  
  @media (max-width: 480px) {
    .home-button-container {
      top: 8px; /* Position encore plus ajustée pour les petits écrans */
      right: 8px;
    }
  
    .home-button {
      font-size: 12px; /* Taille de texte plus petite pour les très petits écrans */
      padding: 6px 12px; /* Réduction supplémentaire de l'espacement intérieur */
    }
  }
  


  /* CSS Pour le spinner */
  .spinner {
    border: 8px solid #f3f3f3; /* Couleur de fond */
    border-top: 8px solid #3498db; /* Couleur de la partie supérieure */
    border-radius: 50%;
    width: 50px; /* Largeur du spinner */
    height: 50px; /* Hauteur du spinner */
    animation: spin 1s linear infinite; /* Animation de rotation */
    position: fixed; /* Position fixe */
    left: 50%; /* Centré horizontalement */
    top: 50%; /* Centré verticalement */
    transform: translate(-50%, -50%); /* Ajustement pour le centrage */
    z-index: 1000; /* Au-dessus des autres éléments */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





